body {
    color: white;
    background-color: rgb(33, 62, 180);
}
p#code_kensaku {
    display: inline-block;
}
button#america{
    position: relative;
    height: 50px;
    width: 90px;
    outline: none;
    cursor: pointer;
    background:none;
    border:0;
    margin-right: 100px;
}

button#england{
    position: relative;
    height: 50px;
    width: 90px;
    outline: none;
    cursor: pointer;
    background:none;
    border:0;
}