p {
	color: navy;
}

p.info {
	font-size: small;
	background-color: #dfdfdf;
}

title {
	color: white;
}

h1 {
	text-shadow: 1px 1px 10px navy;
	color: white;
}

h2 {
	margin: 5px;
}

div#zentai {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 10px 10px 10px 10px;
	flex-direction: row;
	width: 1024px;
}

div#zentai > div {
	margin: 10px 10px 10px 10px;
	background-color: #ffefaf;
}

img{
	float: right;
}
h2.Google {
	font-family: cursive;
	color: #3f3faf;
	background: linear-gradient(white, #ffefaf);
}

h2.Safari {
	font-family: cursive;
	color: #3f3faf;
	background: linear-gradient(white, #ffefaf);
}

h2.Edge {
	font-family: cursive;
	color: #3f3faf;
	background: linear-gradient(white, #ffefaf);
}

h2.Firefox {
	font-family: cursive;
	color: #3f3faf;
	background: linear-gradient(white, #ffefaf);
}